[versions]
agp = "8.5.2"
kotlin = "2.0.20"
nexus-publish = "2.0.0"
android-minSdk = "24"
android-compileSdk = "34"
systemLambda = "1.2.0"

[libraries]
kotlin-test = { module = "org.jetbrains.kotlin:kotlin-test", version.ref = "kotlin" }
nexus-publish = { module = "io.github.gradle-nexus.publish-plugin:io.github.gradle-nexus.publish-plugin.gradle.plugin", version.ref = "nexus-publish" }
system-lambda = { module = "com.github.stefanbirkner:system-lambda", version.ref = "systemLambda" }

[plugins]
androidLibrary = { id = "com.android.library", version.ref = "agp" }
kotlinMultiplatform = { id = "org.jetbrains.kotlin.multiplatform", version.ref = "kotlin" }